menu {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.part {
    width: 50px;
    height: 100%;
}

.part.slip {
    width: 150px;
}

.part.slip.closed {
    width: 0px;
}
    
    
